@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v11/cY9GfjGcW0FPpi-tWPfK.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.hide {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
main {
  min-height: 84vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pangolin', cursive;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: 1px solid black;
  border-radius: 40px;
  padding: 15px;
  background-color: #ffdfba;
}
button:active {
  border-color: white;
}
button:hover {
  background-color: #ffd3a1;
}
.darkTheme {
  background-color: #232323;
}
.darkTheme h1,
.darkTheme h2,
.darkTheme h3,
.darkTheme h4,
.darkTheme h5,
.darkTheme h6 {
  color: white;
}
.darkTheme .concertList .concertRow {
  color: white;
}
.darkTheme .concertList #concertLoading {
  color: white;
}
.darkTheme .concertHeader .concertTitle {
  color: #baffc9;
}
.darkTheme .concertHeader .concertAt {
  color: #ffffba;
}
.darkTheme .concertHeader .concertVenue {
  color: #ffdfba;
}
.darkTheme .concertDetails p {
  color: white;
}
.darkTheme #themeSwitcher {
  background-color: #ffffed;
}
.darkTheme form h1 {
  color: #212529;
}
#themeSwitcher {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 17.5px;
  border-radius: 50%;
  border: 2px solid #ff9821;
  background-color: #ffffba;
  color: #ff9821;
}
#themeSwitcher:hover {
  color: #ed7f00;
  border-color: #ed7f00;
}
#navBar {
  background-color: #c4e1ff;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}
#navBar #browseLink,
#navBar #ticketsLink,
#navBar #logInLink,
#navBar #cartLink {
  padding: 5px;
  border-radius: 50%;
}
#navBar #browseLink,
#navBar #ticketsLink,
#navBar #logInLink {
  color: #006ddd;
}
#navBar #browseLink:hover,
#navBar #ticketsLink:hover,
#navBar #logInLink:hover {
  color: #0054aa;
  background-color: #baffc9;
}
#navBar #cartLink {
  color: #ff9821;
  background-color: #ffffba;
}
#navBar #cartLink:hover {
  color: #ff8c08;
  background-color: #ffdfba;
}
#navBar #navLeft {
  display: flex;
  align-items: center;
}
#navBar #searchContainer {
  margin-left: 15px;
}
#navBar #searchContainer #searchBar {
  width: 34vw;
  border-radius: 15px;
  padding-left: 1vw;
}
#navBar #searchContainer i {
  color: #006ddd;
}
#navBar #siteLogo {
  height: 8vh;
  width: auto;
}
#navBar #navMiddle > a {
  margin-left: 15px;
}
#navBar #cartLink {
  margin-right: 5px;
}
#navBar .hamburger {
  display: none;
}
#navBar .hamburger button {
  background-color: #ffffba;
  color: #ff8c08;
}
#navBar .hamburger a {
  color: #0054aa;
}
#navBar .hamburger a:hover {
  background-color: #baffc9;
}
#navBar .hamburger p {
  color: #006e18;
}
#navBar .hamburger p:hover {
  background-color: #c4e1ff;
}
#navBar .hamburger .dropdown-header {
  background-color: #ffa43b;
  color: #212529;
}
#navBar .hamburger .dropdown-menu {
  background-color: #ffdfba;
}
#altSearch {
  display: none;
}
footer {
  height: 8vh;
  background-color: #ffdfba;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #212529;
}
.footerFixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 15vh auto 0 auto;
  border: 3px solid #3bff65;
  padding: 12px 10vw 12px 10vw;
  border-radius: 5px;
  background-color: #baffc9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}
form button {
  margin-top: 15px;
}
#signUpForm {
  margin-top: 5vh;
}
#signUpForm h1 {
  margin-bottom: 12px;
}
#signUpForm button {
  margin-top: 12px;
}
label {
  font-weight: 600;
  margin-right: 10px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 5px;
  border-radius: 5px;
}
input[type='checkbox'],
input[type='radio'] {
  height: 17.5px;
  width: 17.5px;
}
.formEle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
}
.formGroup .formEle {
  padding: 0 0;
}
.formWithLink {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formWithLink a {
  margin-top: 10px;
}
.message {
  display: none;
  font-weight: 600;
  color: #212529;
  padding: 10px;
  border-radius: 8px;
  position: fixed;
  top: 50vh;
  width: 100vw;
  text-align: center;
}
.success {
  background-color: #baffc9;
}
.concertList {
  max-width: 800px;
  margin-bottom: 25px;
}
.concertList .concertImgCol {
  display: flex;
  justify-content: center;
}
.concertList .concertInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.concertList .concertInfoCol h2 {
  margin: 0;
}
.concertList .concertInfoCol p {
  margin-top: 5px;
}
.concertList .concertImg {
  width: 85%;
  height: 190px;
  max-width: 400px;
  border: 4px solid #baffc9;
  transition: 0.2s;
}
.concertList .concertRow {
  color: #212529;
  margin-top: 25px;
}
.concertList .concertRow:hover .concertImg {
  border-color: #3bff65;
}
.concertList #concertLoading {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
}
.concertList .concertQRContainer {
  display: flex;
  align-items: center;
}
.concertList .concertQRContainer .concertQR {
  height: 90px;
  width: auto;
  background-color: #fff;
}
.concertList .concertQRContainer .concertTicketInfo {
  margin-left: 10px;
}
.concertList .concertQRContainer a {
  display: flex;
}
#concertFilters {
  position: fixed;
  left: 0;
  top: 13vh;
  background-color: #e3ffe9;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#concertFilters h3 {
  color: #212529;
}
#concertFilters .filterEle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#concertFilters .filterDate {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#concertFilters .filterDate input {
  width: 120px;
  align-self: end;
}
#concertFilters #locationSearch {
  margin-bottom: 5px;
}
#concertFilters #locationSearch input {
  width: 135px;
}
#concertFilters .filterGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
#concertFilters .filterDateGroup {
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
}
#concertFilters h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  margin: auto;
  margin-bottom: 2px;
}
#filtersToggle {
  position: fixed;
  top: 8vh;
  left: 0;
  padding: 1px;
  border-radius: 0;
  width: 105px;
}
.concertDetails {
  width: 61.8vw;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
}
.concertDetails img {
  width: 80%;
  height: auto;
  align-self: center;
  border: 5px solid #baffc9;
  border-radius: 5px;
}
.concertDetails h1 {
  margin: 0;
}
.concertDetails .concertInfo {
  margin-top: 10px;
}
.concertDetails #ticketsHeader {
  margin-top: 20px;
}
.concertDetails .ticketsInfo {
  border: 5px solid #ffff87;
  border-radius: 5px;
  background-color: #ffffba;
}
.concertDetails .ticketsInfo p {
  color: #212529;
}
.concertDetails .ticketsInfo > div {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.concertDetails .ticketsInfo > div button {
  align-self: center;
  width: 80%;
  margin-top: 7.5px;
}
.concertDetails .ticketDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.concertDetails .ticketDetails p {
  margin-right: 15px;
}
.ticketSelector {
  display: flex;
  align-items: center;
}
.ticketSelector label {
  margin-left: 5px;
}
.ticketSelector input {
  width: 50px;
  text-align: center;
}
#homePageHeader {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.carousel {
  width: 75vw;
  margin: auto;
  z-index: 0;
}
.carousel .carousel-inner {
  height: 60vh;
  width: 50vw;
  margin: auto;
  border: 5px solid #baffc9;
  border-radius: 10px;
}
.carousel .carousel-inner:hover {
  border-color: #3bff65;
}
.carousel .carouselImage {
  width: 100%;
  height: 60vh;
  margin: auto;
}
.carousel button:hover {
  background-color: rgba(0, 0, 0, 0);
}
.carousel button > span {
  border-radius: 50%;
  border: 2px solid #ffdfba;
  background-color: #ffdfba;
  padding: 28px;
}
.cartContainer {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 7vh;
  min-height: 50vh;
  width: 61.8vw;
  background-color: #ffffd4;
  border: 4px solid #ffbc6e;
  border-radius: 10px;
  position: relative;
}
.cartContainer p,
.cartContainer h2 {
  color: #212529;
}
.cartContainer h2 {
  margin-bottom: 0;
}
.cartContainer .cartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffdfba;
}
.cartContainer .cartItem .itemInfo {
  margin: 0 10px 0 5px;
}
.cartContainer .cartItem .ticketSelector {
  margin: 0 5px 0 10px;
}
.cartContainer .cartBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.cartContainer .cartBottom button {
  margin: 5px;
}
.cartContainer .subTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartContainer #clearItems {
  background-color: #ffb3ba;
}
.cartContainer #clearItems:hover {
  background-color: #ff9aa3;
}
.cartContainer #purchaseBtn {
  background-color: #baffc9;
}
.cartContainer #purchaseBtn:hover {
  background-color: #a1ffb5;
}
.cartContainer .trash {
  color: #ff6675;
}
.cartContainer .trash:hover {
  color: #ff3346;
}
#cartHeader {
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto 0 auto;
}
@media screen and (max-width: 950px) {
  #navBar .hamburger {
    display: block;
  }
  #navBar #browseLink,
  #navBar #ticketsLink,
  #navBar #cartLink,
  #navBar #logInLink {
    display: none;
  }
  #navBar #searchContainer #searchBar {
    width: 50vw;
  }
  #themeSwitcher {
    display: none;
  }
  .carousel {
    width: 100vw;
  }
  .carousel .carousel-inner {
    width: 70vw;
  }
  .concertDetails {
    width: 75vw;
  }
  .cartContainer {
    width: 80vw;
  }
  #filtersToggle {
    top: 2vh;
    left: 75%;
    transform: translateX(-50%);
  }
  #concertFilters {
    top: 8vh;
  }
}
@media screen and (max-width: 650px) {
  #searchContainer {
    display: none;
  }
  #altSearch {
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  #altSearch #altSearchBar {
    width: 85vw;
    border-radius: 15px;
    padding-left: 2vw;
  }
  #altSearch i {
    color: #006ddd;
  }
  form {
    margin-top: 10vh;
  }
  #signUpForm {
    margin-top: 1.5vh;
  }
  .concertDetails {
    width: 85vw;
  }
  .cartContainer {
    width: 90vw;
  }
  .cartContainer .dateTime {
    display: none;
  }
  .cartContainer h2 {
    font-size: 21px;
  }
  #filtersToggle {
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 576px) {
  .concertList .concertInfoCol {
    align-items: center;
  }
  .concertList .concertHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .concertList .concertHeader p {
    margin-bottom: 10px;
  }
  .carousel {
    margin-top: 4vh;
  }
  .carousel .carouselImage {
    height: 50vh;
  }
  .carousel .carousel-inner {
    height: 50vh;
    width: 95vw;
  }
  .carousel button > span {
    padding: 20px;
  }
}
@media screen and (max-width: 425px) {
  .concertList .concertImg {
    height: 165.5px;
  }
  .concertDetails {
    width: 95vw;
  }
  .concertDetails img {
    width: 90%;
  }
  .concertDetails .ticketsInfo p {
    display: flex;
    flex-direction: column;
  }
  .cartContainer {
    width: 97.5vw;
  }
  .cartContainer h2 {
    font-size: 20px;
  }
}
